<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/intro-Machine-Learning/blob/main/classes/class_26_multiclase/class_26_multiclase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

# Nombre del reto: Sistema de recomendación de peliculas

Se debe preguntar al usuario si desea incluir películas en el archivo (movies.csv) pidiéndole al usuario que ingrese

* el ID de la película, 
* el título y 
* los géneros de las películas (puede ser uno o muchos). 

Con la condición de que si el ID de la película y/o el título de la película ya existe, no se puede añadir y se debe reintentar el ingreso de la película.

Cuando se termine de ingresar las películas se debe preguntar al usuario si desea incluir calificaciones de alguna película (ratings.csv) pidiéndole al usuario que ingrese: 

* el ID de la persona que hizo la crítica, 
* el ID de la película, 
* la puntuación de las películas y 
* la fecha de la calificación debe quedar registrada como Unix epoch time. 

Con la condición de que si ya existe una calificación asociada con el ID de la persona y el ID de la película.
Se requiere crear un nuevo dataset con el ID de cada película y su calificación promedio.

Después se debe crear un nuevo archivo delimitado por comas llamado `average_rating.csv` uniendo los datos de `movies.csv` respectivamente con el nuevo dataset de las calificaciones promedio.

Con base en `average_rating.csv` se requiere hacer un informe con:  

1.	Las 20 mejores y peores películas puntuadas.
2.	La mejor y peor película por cada género.
3. La puntuación promedio por cada género.

Por último, se debe poder buscar una película por ID o por título y mostrar de forma gráfica en qué puesto está con respecto a otras películas de los mismos géneros.

# ¿Cómo crear un archivo .csv con las películas que me gustan?

In [3]:
import csv

In [4]:
def preguntar_incluir_peliculas(deseo_incluir_pelicula = True):
    with open('movies2.csv', 'w') as csvfile:
        fieldnames = ['id', 'titulo', 'genero']
        writer = csv.DictWriter(csvfile, fieldnames = fieldnames)
        writer.writeheader() 
        if deseo_incluir_pelicula:
            id_ = input('entre el identificador de la película: ')
            titulo_ = input('entre el título de la película: ')
            genero_ = input('entre el genero de la película: ')
            writer.writerow({'id':id_, 
                        'titulo':titulo_,
                        'genero':genero_})

In [5]:
preguntar_incluir_peliculas()

entre el identificador de la película: 1
entre el título de la película: superman
entre el genero de la película: ciencia ficcion

In [ ]:
def preguntar_incluir_rating():

In [ ]:
preguntar_incluir_rating()

In [6]:
import pandas as pd 

pd.read_csv('movies2.csv')

   id    titulo           genero
0   1  superman  ciencia ficcion

### Librerias necesarias

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Visualización y descripción de los datos

El conjunto de datos que se va a utilizar fue extraído de la página de Kaggle y se llama Movie Rating.

Este tiene 2 conjuntos de datos, Uno de ellos (movies.csv) contiene en cada fila el ID de la película, el título y los géneros de las películas (puede ser uno o muchos).

El otro (ratings.csv) contiene en cada fila el ID de la persona que colocó la puntuación, el ID de la película, la puntuación de las película y la fecha de la puntuación (marca temporal en formato Unix epoch).

In [ ]:
df = pd.read_csv("movies.csv")
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [ ]:
#Se renombra las columnas 
df.rename(columns = {'title':'titulo',\
                    'genres':'genero'},
              inplace = True)
df

,movieId,titulo,genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [ ]:
# El método info() es útil para obtener una descripción rápida de los datos en particular
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   titulo   10329 non-null  object
 2   genero   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

### De la información en general podemos observar que no hay datos faltantes, se cuenta con 10.329 entradas y 3 columnas que representa el ID de la película, el titulo y el género, estas últimas variables son categóricas.

In [ ]:
# Si desea ingresar más películas a la base de datos, hágalo en el siguiente orden: 
IDpelicula = int(input('Ingrese el ID de la película '))
titulo = input('Ingrese el titulo de la película ')
genero = input('Ingrese el genero de la película ')

Ingrese el ID de la película 12
Ingrese el titulo de la película feos
Ingrese el genero de la película accion

#**Segunda base de datos**

In [ ]:
df2 = pd.read_csv("ratings.csv")
df2

        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

## Referencias  

* Cómo leer y y escribir archivos CSV con python: https://code.tutsplus.com/es/tutorials/how-to-read-and-write-csv-files-in-python--cms-29907